html,body{
	height: 100%;
}
*{
	/* 去除浏览器默认样式 */
	margin: 0;
	padding: 0;
}
 
/* 开始界面 */
.start-box{
	width: 100%;
	height: 100%;
	background: url('img/2.jpg') no-repeat center / cover;
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
}
.start-message{
    width: auto;
    float: left;
	position: absolute;
	top: 50%;
	margin-top: -160px;
	left: 50%;
	margin-left: -350px;
}
.start-message img:nth-child(1){
    width: 200px;
    margin: 0 auto;
	position: relative;
	z-index: 999;
}
.start-message img:nth-child(2){
	width: 300px;
	position: absolute;
	right: 100px;
	top: -150px;
}
.start-message img:nth-child(3){
	width: 80px;
	position: absolute;
	left: 50%;
	margin-left: -40px;
	cursor: pointer;
	animation: run 0.5s infinite alternate;/* 无限次播放，奇数次正向播放，偶数次反向播放 */
}
@keyframes run{
	0%{
 
	}
	100%{
		transform: scale(1.1);/* 转换，放大1.1倍 */
	}
 
}
 
/* 游戏中 */
.play-box{
	width: 100%;
	height: 100%;
	background: url('img/dz2.jpg') no-repeat center /cover;
	padding-top: 40px;
	box-sizing: border-box;
	position: absolute;
	left: 0;
	top: 0;
}
/* 游戏信息 */
.play-box .play-message{
	width: 1000px;
	height: 50px;
	position: absolute;
	left: 50%;
	margin-left: -500px;
}
.play-box .play-message img{
	height: 50px;
}
.play-box .play-message .life{
	float: left;
	position: relative;
	margin-right: 60px;
}
.play-box .play-message .life span{
	line-height: 50px;
	width: 140px;
	height: 50px;
	color: #fff;
	position: absolute;
	top: 0px;
	left: 120px;
}
.play-box .play-message .score span{
	line-height: 50px;
	width: 88px;
	height: 50px;
	color: #fff;	
	position: absolute;
	top: 4px;
	left: 100px;
}
.play-box .play-message .score{
	float: left;
	position: relative;
}
.play-box .play-message .sound{
	float: right;
}
.play-box .main{
	width: 1000px;
	height: 100%;
	position: absolute;
	left: 50%;
	margin-left: -500px;
	top: 0;
	overflow: hidden;
}
.play-tips{
	position: absolute;
	left:50%;
	margin-left:-250px;
	top:50%;
	margin-top:-200px;
	width:500px;
	display:none;
}
.play-tips .level{
	width:100%;
}
 
.play-tips .play-msg{
	position: absolute;
	width:100%;
	height:48px;
	top:280px;
	font-size:48px;
	text-align:center;
	color:#8B5511;
}
.play-tips .reload-btn{
	position: absolute;
	width:100px;
	top:350px;
	left:50%;
	margin-left:-50px;
}
